#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #ded9e2;
}

.title-quote {
  font-size: 3rem;
  font-weight: bold;
  color: #b179ad;

  margin: 0;
}

p {
  margin: 0;
  font-size: 1.5rem;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

button {
  margin: 0.5rem auto;
}
